<!-- <div class="relative w-full max-w-md max-h-full">
  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
    <button (click)="close()" type="button" class="absolute right-3 focus:outline-none p-2">
      <i class="fa fa-file-excel-o"></i>
  </button>
    <div class="p-6 text-center">
      <fa-icon *ngIf="tipoMensaje" class="text-4xl font-normal text-green-500 dark:text-green-400" [icon]="faCheck"></fa-icon>
      <fa-icon *ngIf="!tipoMensaje" class="text-4xl font-normal text-red-500 dark:text-red-400" [icon]="faClose"></fa-icon>
      <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">{{mensaje}}</h3>

      <button type="button" *ngIf="tipoMensaje" (click)="close()"
        class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
        Aceptar
      </button>

      <button type="button" *ngIf="!tipoMensaje" (click)="close()"
        class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
      Aceptar</button>
    </div>
  </div>
</div> -->
